<ion-content padding>

  <div class="wrapper">
     <div class="box confirm">
        <h4>Item 10</h4>
        <ion-button fill="outline" color="light" class="right" >Confirm</ion-button>
        <!--p>message</p-->
     </div>

     <div class="box inprogeress">
        <h4>Item 9</h4>
        <p class="right" >In Progeress</p>
     </div>

     <div class="box received">
        <h4>Item 8</h4>
        <p class="right" >Received</p>
     </div>
     
     <div class="box received">
       <h4>Item 8</h4>
       <p class="right" >Received</p>
     </div>
    
     <div class="box received">
       <h4>Item 8</h4>
       <p class="right" >Received</p>
     </div>
  
  </div>

</ion-content>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>receiver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)='toAbout()'>About</ion-button>
  <ion-button (click)="toSender()">Sender</ion-button>
</ion-content> -->
