<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar class="bottom" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<ion-content padding>

  <div class="wrapper">
    <div *ngFor="let item of resiveData" >
      <div class="box received">
        <h4>Item {{item.itemNo}}</h4>
        <p class="right" >{{item.status}}</p>
      </div>
    </div>
  </div>

  <!-- <div class="wrapper">
     <div class="box confirm">
        <h4>Item 10</h4>
        <ion-button fill="outline" color="light" class="right" >Confirm</ion-button>
        <!--p>message</p>
     </div>

     <div class="box inprogeress">
        <h4>Item 9</h4>
        <p class="right" >In Progeress</p>
     </div>

     <div class="box received">
        <h4>Item 8</h4>
        <p class="right" >Received</p>
     </div>
     
     <div class="box received">
       <h4>Item 8</h4>
       <p class="right" >Received</p>
     </div>
    
     <div class="box received">
       <h4>Item 8</h4>
       <p class="right" >Received</p>
     </div>
  
  </div> -->

</ion-content>
