<ion-content>

  <div class="shape"></div>
  
  <div class="center">

    <img icon-small src="../../assets/icon/person-circle.svg">

    <ion-item transparent>
      <ion-label>User Name :</ion-label>
        {{userData.userName}}
    </ion-item>

    <ion-item transparent>
      <ion-label>Mobile No :</ion-label>
      {{userData.mobileNo}}
      </ion-item>

    <ion-item transparent>
      <ion-label>Gmail :</ion-label>
      {{userData.gMail}}
    </ion-item>

    <ion-item lines="none" transparent>
      <ion-label>User Type :</ion-label>
      {{userData.userType}}
    </ion-item>
  
    <div linespace></div>

    <ion-row>
      <ion-col size="6"   class="ion-text-center">
        <ion-button color="new" class="ion-button-class" fill="solid" expand="block" >EDIT</ion-button>    </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button color="new" class="ion-button-class" fill="solid" expand="block" (click)="toLogOut()">LOG OUT</ion-button>
      </ion-col>
    </ion-row>        
      
  </div>
</ion-content>
