<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input>user name:</ion-input>
  <ion-input>password :</ion-input>
  <ion-button>login</ion-button>
  <ion-button>sign in</ion-button>
</ion-content>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="login()">

  <ion-input name="username" [(ngModel)]="username">user name:</ion-input>
  <ion-input name="password" [(ngModel)]="password">password :</ion-input>
  <ion-button type="submit">login </ion-button>
  <ion-button>sign in</ion-button>
  <div *ngIf="error" class="error" padding >
    {{error}}
  </div>
  </form>
</ion-content>