<ion-header class="ion-no-border">
  <div class="login-header ion-padding">
    <img class="logo-image" src="../../assets/icon/lohisticsheader1.png">
  </div>
</ion-header>
<ion-content>
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Log in</h1>
      <h2 small-headng (click)="toSignUp()">SIGN UP</h2>
    </div>
    <ion-label>
      
  </ion-label>
      <ion-item transparent>
        <img icon-small src="../../assets/icon/person-circle.svg">
        <ion-input name="username" [(ngModel)]="user.userName" placeholder="Username" type="text"></ion-input>
      </ion-item>
      <ion-item transparent>
        <img icon-small src="../../assets/icon/key.svg" />
        <ion-input name="password" [(ngModel)]="user.passWord" placeholder="Password" type="Password"></ion-input>
      </ion-item>
      <ion-label class="forget-password" (click)="inActive()">Forget Password?</ion-label>
  
      <div linespace></div>
      <ion-button color="new" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="login()">LOG IN</ion-button>
      <!--div *ngIf="error" class="error" padding >
        {{error}}
      </div-->
  <ion-label class="ion-text-center" >Don't have Account? <span class="link-button" (click)="toSignUp()"><u>Sign Up</u></span></ion-label>
</div>
</ion-content>