<ion-content [fullscreen]="true">
  <div id="trans-box">
    <ion-header class="ion-no-border">
      <img class="image"  src="../../assets/icon/lohisticsheader1.png">
    </ion-header>

    <div class="ion-text-justify">
    <br><strong>Description</strong>
    <p>The term ‘Logistics’ refers to the commercial activity of the transportation of goods i.e, transportation of goods from one place to the other. In the application we try to ease the process of Logistics. Here, we collect the details from the sender to know the destination of the receiver of the product and we also update the information as required by the receiver for their ease, to reduce the misconception of the address to require the package from the sender. This app works with the tie-ups provided by the Logistics service providers.</p>
    </div>
  </div>
  
  <div class="container">
    <ion-button class="btn" color="light" fill="outline" size="large" (click)="toItemStatus()"><strong>Welcome</strong></ion-button>
    <img  src="../../assets/homeBottom.png">
  </div>
</ion-content>
